NEXTAUTH_URL=https://localhost:3000
NEXTAUTH_SECRET={next_auth_secret}

# Supabase
NEXT_PUBLIC_SUPABASE_URL={supabase_url}
NEXT_PUBLIC_SUPABASE_ANON_KEY={supabase_anon_key}

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY={stripe_publishable_key}
STRIPE_SECRET_KEY={stripe_secret}
STRIPE_WEBHOOK_SECRET={stripe_webhook}

OPENAI_API_KEY={openai_api_key}
XAI_API_KEY={xai_aip_key}
ANTHROPIC_API_KEY={anthropic_api_key}
OPENROUTER_API_KEY={openrouter_api_key}

GITHUB_TOKEN={github_auth_token}

N8N_API_KEY={n8n_api_key}

